.header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding: 16px 0;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  max-width: 1216px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  display: flex;
  gap: 8px;
  margin-right: 54px;

  & p {
    font-weight: bold;
    font-size: 24px;
  }
}

.navList {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: 500;
}

.navList li {
  padding: 0;
  margin: 0;
}
.navLink {
  display: inline-block;
  border-radius: 9px;
  padding: 7px;
}

.navLink:hover {
  background-color: rgba(240, 240, 240, 0.3);
  color: var(--primary-color);
}

.navLink.active {
  color: var(--primary-color);
  background-color: rgba(240, 240, 240, 0.3);
}

