.search {
  position: relative;
  flex: 1;
  background: none;
  border: 1px solid #e8e8e8;
  border-radius: 68px;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: #6a0bff;
  }
}

.input {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  border: none;
  background: none;
  padding: 13px 40px 13px 52px;
  width: 100%;
  cursor: pointer;
  position: relative;

  &:focus {
    outline: none;
  }
}

.icon {
  position: absolute;
  top: 13px;
  left: 24px;
}

.closeButton {
  width: 28px;
  height: 28px;
  opacity: 0.3;
  position: absolute;
  top: 9px;
  right: 8px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.closeBtn {
  width: 32px;
  height: 32px;
  opacity: 0.3;
  position: absolute;
  right: 9px;
  top: 8px;
  cursor: pointer;
}
.closeBtn:hover {
  opacity: 0.8;
}
