.wrapper {
  width: 100%;
  max-width: 1216px;
}

.questionList {
  max-width: 804px;
  padding: 24px 20px 40px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 4px 10px 0 rgba(106, 99, 118, 0.1);
}

.questionTitle {
  padding: 0px 10px 16px 0px;
  border-bottom: 0.5px solid #e8e8e8;
  margin-bottom: 24px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.accordionTitle {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.ratingAndDifficulty {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
	margin-bottom: 24px;

  & p {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;

    & span {
			margin-left: 12px;
      border-radius: 4px;
      padding: 2px 4px;
      width: 17px;
      height: 21px;
			background-color: var(--primary-color);
			color: #fff;
    }
  }
}

.questionContent {
  padding: 0px 24px 24px;
}

.btnTransition{
	transition: transform 0.4s ease;
}

.arrowRotate {
  transform: rotate(180deg);
}


.descriptions{
	margin-top: 24px;
}

.descQuestion{
font-weight: 500;
font-size: 16px;
line-height: 1.4;
color: #474747;
}

.detailsBtn{
	display: flex;
  justify-content: flex-end;
	margin-top: 10px;
  width: 100%;
  padding-top: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #6a0bff;
}